<script scoped>
import { ref } from 'vue';
import axios from 'axios';




export default {
  data() {
    return {
      inputText: '',
    };
  },

  methods: {
    adjustInputHeight() {
      const textarea = document.getElementById('text-input');
      textarea.style.height = `${textarea.scrollHeight}px`;
    },
    handleSave(event) {
      const textarea = document.getElementById('text-input');
      textarea.style.height = '38px';
      event.default();  //default form submission
    },
  },

  setup() {
    const inputText = ref('');
    const savedText = ref('');

    function saveText() {
      savedText.value = inputText.value;
      inputText.value = '';
      // Make an HTTP POST request to your server to save the string
        axios.post('http://localhost:3000/save-string', {
        Text: savedText.value
        })
        .then(response => {
         console.log(response.data);
        })
        .catch(error => {
         console.error(error);
        });

    }

    return {
      inputText,
      savedText,
      saveText,
    };
  },
};
</script>

<template>
  <div>
    <form @submit.prevent="saveText">
      <div class="data-form relative my-5">
        <textarea
          style="height: 38px;"
          id="text-input"
          v-model="inputText"
          placeholder="Enter your suggestions"
          class="placeholder-italic placeholder-text-slate-400 bg-white 
          border border-slate-300 rounded-md py-2 px-3 shadow-sm focus:outline-none 
          focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm mx-5
           translate-y-1 resize-none w-3/4"
          @input="adjustInputHeight"
        ></textarea>
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-4 -translate-y-1 rounded" type="submit" @click="handleSave">Send</button>
      </div>
    </form>
    <div>
      <p v-if="savedText">{{ savedText }} is saved</p>
    </div>
  </div>
</template>
