<template>
    <div class="text-white" :style="`background: url(${bgimage1})`">
      <div>
        <h1 class="text-center">Mathews George</h1>
      </div>
      <div class="text-left mx-5 my-5 flex flex-row">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src="@/assets/mathews.webp" alt="mathews image">
        <p>I'm a passionate developer who consistently strives for excellence, dedicating myself 
          to delivering flawless solutions, even when faced with the most minute challenges. With an unwavering commitment 
          to perfection, and approaches every task with utmost diligence and determination.
        </p>
      </div>
        
    </div>
  </template>
  
  
  <script>
  import imagegreen from "@/assets/bg.png";
  
  export default {
    data() {
      return {
        bgimage1: imagegreen

      }
    }
  }
  </script>
  
  <style scoped>

  </style>
  