<template>
    <div>
      <input type="text" v-model="username" placeholder="Username" />
      <input type="password" v-model="password" placeholder="Password" />
      <button @click="login">Login</button>
  
      <div v-if="response">
        <p>{{ response.message }}</p>
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        username: '',
        password: '',
        response: null
      };
    },
    methods: {
      login() {
        const data = {
          username: this.username,
          password: this.password
        };
  
        axios
          .post('http://localhost:3000/login', data)
          .then(response => {
            this.response = response.data;
          })
          .catch(error => {
            if (error.response && error.response.status === 401) {
              this.response = { message: 'Invalid username or password' };
            } else {
              console.error(error);
              // Handle other errors
            }
          });
      }
    }
  };
  </script>
  