<script scoped>
import axios from 'axios';
import ListItem from '@/components/stringBox.vue';

export default {
  data() {
    return {
      reviewList: []
    }
  },
  mounted() {
    axios.get('http://localhost:3000/reviews')
      .then(response => {
        this.reviewList = response.data;
      })
      .catch(error => {
        console.log(error);
      });
  },
  components: {
    ListItem
  },
}
</script>

<template>
    <div class="bg-[#f2f7fa]">
      <h1 class="scale-150 underline mb-5 pt-3">Messages</h1>
      <ul>
        <li v-for="string in reviewList" :key="string">
          <ListItem :message="string" />
        </li>
      </ul>
    </div>
  </template>
  
