<template>
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
            <router-link class="nav-link" to="/">Home</router-link>
        </li>
        <li class="nav-item">
            <router-link class="nav-link" to="/feedback">feedback</router-link>
        </li>
        <li class="nav-item">
            <router-link class="nav-link" to="/reviews">ReviewList</router-link>
        </li>
        <li class="nav-item">
            <router-link class="nav-link" to="/auth">Login</router-link>
        </li>
      </ul>
    </nav>
  </template>
  
  <script>
  export default {
    name: 'Navbar',
  };
  </script>
  
  <style scoped>
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  </style>
  