<template>
    <div v-if="showDiv" class="my-3 bg-white border-[2px] border-solid hover:border-sky-200 
    px-5 mx-5 flex justify-between w-full">
        <div>
          <p class="">{{ message.review }} </p>
        </div>
        
        <div>
          <button @click="deleteItem" class="mx-5 "> Delete </button>
        </div>
        


    </div>
  </template>
  
  <script>
  import axios from 'axios';

  export default {
    props: {
      message: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        showDiv: true, // Initially show the div
      };
    },
    methods: {
      deleteItem() {
        const deleteID = this.message.id;
        console.log(this.message.id);
        axios.delete(`http://localhost:3000/delete/${deleteID}`)
          .then(response => {
        // Handle the success response
        console.log('Resource deleted successfully');
        this.showDiv = false;
        })
        .catch(error => {
         // Handle any errors
          console.error('Error deleting resource:', error);
        });
        
      },
    },
  };
  </script>