<script setup>
import navbar from "@/components/navbar.vue";
// import any files such as .vue components here . 
// Vue routing is now used to replace the above to dynamically load views. 
// Static components can be loaded here Later.
</script>

<template>

  
  <div>
  <navbar />

  </div>

  <router-view />

</template>

<style scoped>
/* any css specific to this main file */
</style>
